<a href="https://colab.research.google.com/github/rackhamsauer/Project_4/blob/main/Data_Cleaning_SSR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import dependencies
import pandas as pd
from pathlib import Path

In [ ]:
# load first dataset
twitter_data = Path("Data/twitter_human_bots_dataset.csv")
twitter_data_df = pd.read_csv(twitter_data)
twitter_data_df.head()

,Unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,0,2016-10-15 21:32:11,False,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7874121826...,best_in_dumbest,11041,False,7.870,1403,bot
1,1,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
2,2,2017-06-17 05:34:27,False,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1278890453...,SVGEGENT,1001,False,0.864,1159,human
3,3,2016-07-21 13:32:25,True,False,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",NaN,http://pbs.twimg.com/profile_images/1284884924...,TinkerVHELPK5,1324,False,0.889,1489,human
4,4,2012-01-15 16:32:35,False,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9952566258...,JoleonLescott,4202,True,1.339,3138,human

In [ ]:
list(twitter_data_df.columns)

['Unnamed: 0',
 'created_at',
 'default_profile',
 'default_profile_image',
 'description',
 'favourites_count',
 'followers_count',
 'friends_count',
 'geo_enabled',
 'id',
 'lang',
 'location',
 'profile_background_image_url',
 'profile_image_url',
 'screen_name',
 'statuses_count',
 'verified',
 'average_tweets_per_day',
 'account_age_days',
 'account_type']

In [ ]:
# drop unnecessary columns
twitter_data_df = twitter_data_df.drop(columns=['Unnamed: 0', 'profile_background_image_url', 'profile_image_url', 'average_tweets_per_day',
                                                'account_age_days', 'default_profile_image'])
twitter_data_df.head()

,created_at,default_profile,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,screen_name,statuses_count,verified,account_type
0,2016-10-15 21:32:11,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,best_in_dumbest,11041,False,bot
1,2016-11-09 05:01:30,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,CJRubinPhoto,252,False,human
2,2017-06-17 05:34:27,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",SVGEGENT,1001,False,human
3,2016-07-21 13:32:25,True,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",TinkerVHELPK5,1324,False,human
4,2012-01-15 16:32:35,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",JoleonLescott,4202,True,human

In [ ]:
# load second dataset
spam_users_data = Path("Data/social_bots_users.csv")
spam_data_df = pd.read_csv(spam_users_data)
spam_data_df.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_2
0,16282004,Enrique Kates,eckates,11405,819,2000,0,19,http://t.co/gAa6cVM0Fe,en,...,NaN,NaN,My name is Enrique! ! I'm a highly experienced...,NaN,NaN,Sun Sep 14 11:20:09 +0000 2008,2008-09-14 13:20:09,2014-05-05 23:17:51,2016-03-15 15:41:18,1
1,16740486,genebailey,genebailey,520,219,406,36,2,http://t.co/mag9oYulVZ,en,...,NaN,NaN,"Author, Speaker, Father, Friend, Motivator, Re...",NaN,NaN,Tue Oct 14 16:11:24 +0000 2008,2008-10-14 18:11:24,2014-05-05 23:17:51,2016-03-15 15:41:15,1
2,17132768,Patrick G Howard,patrickghoward,4671,38877,25953,6,228,http://t.co/0ukMNj4N3Y,en,...,NaN,NaN,Patrick G Howard is an experienced project & p...,NaN,NaN,Mon Nov 03 15:51:00 +0000 2008,2008-11-03 16:51:00,2014-05-05 23:17:51,2016-03-15 15:41:15,1
3,18013384,Doggie Cakes Bakery,DoggieCakes,8512,2069,1177,70,43,http://t.co/B4NRMJHH6Q,en,...,NaN,NaN,Dog Bakery and Boutique - Retail (Events and O...,NaN,NaN,Wed Dec 10 05:44:57 +0000 2008,2008-12-10 06:44:57,2014-05-05 23:12:36,2016-03-15 15:41:04,1
4,21331733,David Varrone,DavidVarrone,245,6656,7469,1,72,http://t.co/KLzAJ1yzmB,en,...,NaN,NaN,Home Based Business and Personal Development C...,NaN,NaN,Thu Feb 19 19:46:02 +0000 2009,2009-02-19 20:46:02,2014-05-05 23:17:51,2016-03-15 15:41:10,1

In [ ]:
list(spam_data_df.columns)

['id',
 'name',
 'screen_name',
 'statuses_count',
 'followers_count',
 'friends_count',
 'favourites_count',
 'listed_count',
 'url',
 'lang',
 'time_zone',
 'location',
 'default_profile',
 'default_profile_image',
 'geo_enabled',
 'profile_image_url',
 'profile_banner_url',
 'profile_use_background_image',
 'profile_background_image_url_https',
 'profile_text_color',
 'profile_image_url_https',
 'profile_sidebar_border_color',
 'profile_background_tile',
 'profile_sidebar_fill_color',
 'profile_background_image_url',
 'profile_background_color',
 'profile_link_color',
 'utc_offset',
 'is_translator',
 'follow_request_sent',
 'protected',
 'verified',
 'notifications',
 'description',
 'contributors_enabled',
 'following',
 'created_at',
 'timestamp',
 'crawled_at',
 'updated',
 'test_set_2']

In [ ]:
# drop unnecessary columns
spam_data_df = spam_data_df.drop(columns=['name','listed_count', 'default_profile_image', 'url', 'time_zone', 'profile_image_url', 'profile_banner_url', 'profile_use_background_image',
                                          'profile_background_image_url_https', 'profile_text_color', 'profile_image_url_https',
                                          'profile_sidebar_border_color', 'profile_background_tile', 'profile_sidebar_fill_color',
                                          'profile_background_image_url', 'profile_background_color', 'profile_link_color', 'utc_offset',
                                          'is_translator', 'follow_request_sent', 'protected', 'notifications', 'contributors_enabled',
                                          'created_at', 'crawled_at', 'updated', 'following'])
spam_data_df.head()

,id,screen_name,statuses_count,followers_count,friends_count,favourites_count,lang,location,default_profile,geo_enabled,verified,description,timestamp,test_set_2
0,16282004,eckates,11405,819,2000,0,en,"Florida, USA",1.0,NaN,NaN,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,1
1,16740486,genebailey,520,219,406,36,en,"32.921043,-97.200378",NaN,1.0,NaN,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1
2,17132768,patrickghoward,4671,38877,25953,6,en,"Houston, Texas USA",NaN,NaN,NaN,Patrick G Howard is an experienced project & p...,2008-11-03 16:51:00,1
3,18013384,DoggieCakes,8512,2069,1177,70,en,"New Port Richey, FL 34654",NaN,1.0,NaN,Dog Bakery and Boutique - Retail (Events and O...,2008-12-10 06:44:57,1
4,21331733,DavidVarrone,245,6656,7469,1,en,"Weston, FL, USA",NaN,NaN,NaN,Home Based Business and Personal Development C...,2009-02-19 20:46:02,1

In [ ]:
# clean up values

twitter_data_df['account_type'] = twitter_data_df['account_type'].replace({'bot': 1, 'human': 0})
twitter_data_df['default_profile'] = twitter_data_df['default_profile'].replace({False: 0, True: 1})
twitter_data_df['geo_enabled'] = twitter_data_df['geo_enabled'].replace({False: 0, True: 1})
twitter_data_df['verified'] = twitter_data_df['verified'].replace({False: 0, True: 1})
twitter_data_df = twitter_data_df[['id', 'screen_name', 'default_profile', 'description', 'created_at', 'geo_enabled', 'lang', 'location', 'statuses_count', 'followers_count', 'friends_count', 'favourites_count', 'verified', 'account_type']]
twitter_data_df.head()

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,location,statuses_count,followers_count,friends_count,favourites_count,verified,account_type
0,787405734442958848,best_in_dumbest,0,"Blame @xaiax, Inspired by @MakingInvisible, us...",2016-10-15 21:32:11,0,en,unknown,11041,1589,4,4,0,1
1,796216118331310080,CJRubinPhoto,0,Photographing the American West since 1980. I ...,2016-11-09 05:01:30,0,en,Estados Unidos,252,860,880,536,0,0
2,875949740503859204,SVGEGENT,0,Scruffy looking nerf herder and @twitch broadc...,2017-06-17 05:34:27,1,en,"Los Angeles, CA",1001,172,594,3307,0,0
3,756119643622735875,TinkerVHELPK5,1,Wife.Godmother.Friend.Feline Fanatic! Assistan...,2016-07-21 13:32:25,1,en,"Birmingham, AL",1324,517,633,8433,0,0
4,464781334,JoleonLescott,0,Loan coach at @mancity & Aspiring DJ,2012-01-15 16:32:35,1,en,"England, United Kingdom",4202,753678,116,88,1,0

In [ ]:
# clean up second data
spam_data_df = spam_data_df[['id', 'screen_name', 'default_profile', 'description', 'timestamp', 'geo_enabled', 'lang', 'location', 'statuses_count',
                 'followers_count', 'favourites_count', 'verified', 'test_set_2']]
spam_data_df.fillna(0, inplace=True)
spam_data_df[['default_profile', 'geo_enabled', 'verified']] = spam_data_df[['default_profile', 'geo_enabled', 'verified']].round().astype(int)
spam_data_df.rename(columns={'test_set_2': 'account_type', 'timestamp': 'created_at'}, inplace=True)
spam_data_df.head()

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,location,statuses_count,followers_count,favourites_count,verified,account_type
0,16282004,eckates,1,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,0,en,"Florida, USA",11405,819,0,0,1
1,16740486,genebailey,0,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1,en,"32.921043,-97.200378",520,219,36,0,1
2,17132768,patrickghoward,0,Patrick G Howard is an experienced project & p...,2008-11-03 16:51:00,0,en,"Houston, Texas USA",4671,38877,6,0,1
3,18013384,DoggieCakes,0,Dog Bakery and Boutique - Retail (Events and O...,2008-12-10 06:44:57,1,en,"New Port Richey, FL 34654",8512,2069,70,0,1
4,21331733,DavidVarrone,0,Home Based Business and Personal Development C...,2009-02-19 20:46:02,0,en,"Weston, FL, USA",245,6656,1,0,1

In [ ]:
# drop location in both
spam_data_df = spam_data_df.drop(columns='location')
twitter_data_df = twitter_data_df.drop(columns='location')

In [ ]:
# concat datasets
data_df = pd.concat([spam_data_df, twitter_data_df], axis=0)
data_df.drop(columns='friends_count', inplace=True)
data_df.head()

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,statuses_count,followers_count,favourites_count,verified,account_type
0,16282004,eckates,1,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,0,en,11405,819,0,0,1
1,16740486,genebailey,0,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1,en,520,219,36,0,1
2,17132768,patrickghoward,0,Patrick G Howard is an experienced project & p...,2008-11-03 16:51:00,0,en,4671,38877,6,0,1
3,18013384,DoggieCakes,0,Dog Bakery and Boutique - Retail (Events and O...,2008-12-10 06:44:57,1,en,8512,2069,70,0,1
4,21331733,DavidVarrone,0,Home Based Business and Personal Development C...,2009-02-19 20:46:02,0,en,245,6656,1,0,1

In [ ]:
# check for NaN values
nan_columns = data_df.isna().any()
columns_with_nan = nan_columns[nan_columns].index.tolist()
print(columns_with_nan)

['description', 'lang']

In [ ]:
# drop NaN rows
data_df = data_df.dropna()

In [ ]:
# export dataframe to csv
data_df.to_csv('Data/clean_data.csv', index=False)

In [11]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

data_df=pd.read_csv('/description.csv')

X = data_df.drop(columns=['account_type', 'screen_name', 'description', 'lang', 'cleaned_description'])
y = data_df['account_type']

# Convert datetime column to datetime format
data_df['created_at'] = pd.to_datetime(data_df['created_at'])

# Extract relevant features from datetime
data_df['year'] = data_df['created_at'].dt.year
data_df['month'] = data_df['created_at'].dt.month
data_df['day'] = data_df['created_at'].dt.day
data_df['hour'] = data_df['created_at'].dt.hour
data_df['minute'] = data_df['created_at'].dt.minute

# Drop the original datetime column
data_df.drop(columns=['created_at'], inplace=True)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Drop the original datetime column from feature matrices
X_train.drop(columns=['created_at'], inplace=True)
X_test.drop(columns=['created_at'], inplace=True)

# Convert dataframe to numpy array for training and testing sets
X_train = X_train.values
X_test = X_test.values

# Scale the features
#scaler = StandardScaler()
#X_train_scaled = scaler.fit_transform(X_train)
#X_test_scaled = scaler.transform(X_test)

# Initializing and training the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Making predictions on the testing set
y_pred = logreg.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Displaying other metrics (precision, recall, F1-score, etc.)
print(classification_report(y_test, y_pred))

# Confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.7145337964199839
              precision    recall  f1-score   support

           0       0.71      1.00      0.83      5349
           1       0.00      0.00      0.00      2137

    accuracy                           0.71      7486
   macro avg       0.36      0.50      0.42      7486
weighted avg       0.51      0.71      0.60      7486

Confusion Matrix:
[[5349    0]
 [2137    0]]

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [13]:
# Importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from imblearn.over_sampling import SMOTE

# Load data
data_df = pd.read_csv('/description.csv')

# Feature Engineering
data_df['created_at'] = pd.to_datetime(data_df['created_at'])
data_df['year'] = data_df['created_at'].dt.year
data_df['month'] = data_df['created_at'].dt.month
data_df['day'] = data_df['created_at'].dt.day
data_df['hour'] = data_df['created_at'].dt.hour
data_df['minute'] = data_df['created_at'].dt.minute
data_df.drop(columns=['created_at','screen_name', 'description', 'lang', 'cleaned_description'], inplace=True)

# Split data into features and target
X = data_df
y = data_df['account_type']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Handle class imbalance
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Initialize and train the logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train_resampled, y_train_resampled)

# Making predictions on the testing set
y_pred = logreg.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Displaying other metrics (precision, recall, F1-score, etc.)
print(classification_report(y_test, y_pred))

# Confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Accuracy: 0.285466203580016
              precision    recall  f1-score   support

           0       0.00      0.00      0.00      5349
           1       0.29      1.00      0.44      2137

    accuracy                           0.29      7486
   macro avg       0.14      0.50      0.22      7486
weighted avg       0.08      0.29      0.13      7486

Confusion Matrix:
[[   0 5349]
 [   0 2137]]

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [8]:
from sklearn.svm import SVC
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import RandomizedSearchCV
from sklearn.datasets import make_classification
from sklearn.svm import SVC

# Load data
data_df = pd.read_csv('/description.csv')

# Feature Engineering
data_df['created_at'] = pd.to_datetime(data_df['created_at'])
data_df['year'] = data_df['created_at'].dt.year
data_df['month'] = data_df['created_at'].dt.month
data_df['day'] = data_df['created_at'].dt.day
data_df['hour'] = data_df['created_at'].dt.hour
data_df['minute'] = data_df['created_at'].dt.minute
data_df.drop(columns=['created_at','screen_name', 'description','lang', 'cleaned_description'], inplace=True)

# Split data into features and target
X = data_df.drop(columns=['account_type'])
y = data_df['account_type']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Define a smaller parameter grid
param_grid = {
    'C': [0.1, 1],
    'kernel': ['linear', 'rbf'],
    'gamma': ['scale']
}

# Initialize the SVM classifier
svm_classifier = SVC(random_state=42)

# Perform randomized search with cross-validation
random_search_svm = RandomizedSearchCV(svm_classifier, param_distributions=param_grid, n_iter=5, cv=3, scoring='accuracy', n_jobs=-1)
random_search_svm.fit(X, y)

# Get the best parameters and best estimator
best_params_svm = random_search_svm.best_params_
best_estimator_svm = random_search_svm.best_estimator_

# Make predictions using the best model
y_pred_best_svm = best_estimator_svm.predict(X_test)

# Evaluate the best model
accuracy_best_svm = accuracy_score(y_test, y_pred_best_svm)
print("Best SVM Model Accuracy:", accuracy_best_svm)
print(classification_report(y_test, y_pred_best_svm))

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_search.py:305: UserWarning: The total space of parameters 4 is smaller than n_iter=5. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

KeyboardInterrupt:

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Load data
data_df = pd.read_csv('/description.csv')

# Feature Engineering
data_df['created_at'] = pd.to_datetime(data_df['created_at'])
data_df['year'] = data_df['created_at'].dt.year
data_df['month'] = data_df['created_at'].dt.month
data_df['day'] = data_df['created_at'].dt.day
data_df['hour'] = data_df['created_at'].dt.hour
data_df['minute'] = data_df['created_at'].dt.minute
data_df.drop(columns=['created_at','screen_name', 'description','lang', 'cleaned_description'], inplace=True)

# Split data into features and target
X = data_df.drop(columns=['account_type'])
y = data_df['account_type']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Initialize the K-Nearest Neighbors classifier
knn_classifier = KNeighborsClassifier()

# Train the classifier
knn_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("KNN Model Accuracy:", accuracy)
print(classification_report(y_test, y_pred))

KNN Model Accuracy: 0.7095912369756879
              precision    recall  f1-score   support

           0       0.76      0.86      0.81      5349
           1       0.49      0.33      0.39      2137

    accuracy                           0.71      7486
   macro avg       0.62      0.59      0.60      7486
weighted avg       0.68      0.71      0.69      7486

In [10]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Load data
data_df = pd.read_csv('/description.csv')

# Feature Engineering
data_df['created_at'] = pd.to_datetime(data_df['created_at'])
data_df['year'] = data_df['created_at'].dt.year
data_df['month'] = data_df['created_at'].dt.month
data_df['day'] = data_df['created_at'].dt.day
data_df['hour'] = data_df['created_at'].dt.hour
data_df['minute'] = data_df['created_at'].dt.minute
data_df.drop(columns=['created_at','screen_name', 'description','lang', 'cleaned_description'], inplace=True)

# Split data into features and target
X = data_df.drop(columns=['account_type'])
y = data_df['account_type']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Initialize the Gradient Boosting classifier
gbm_classifier = GradientBoostingClassifier()

# Train the classifier
gbm_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = gbm_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("GBM Model Accuracy:", accuracy)
print(classification_report(y_test, y_pred))

GBM Model Accuracy: 0.873764360138926
              precision    recall  f1-score   support

           0       0.88      0.96      0.92      5349
           1       0.86      0.66      0.75      2137

    accuracy                           0.87      7486
   macro avg       0.87      0.81      0.83      7486
weighted avg       0.87      0.87      0.87      7486