In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/michealmccloskey/Desktop/Project_4/Data/description.csv")
df[:2]

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,statuses_count,followers_count,favourites_count,...,you,youll,young,your,youre,yourself,youth,youtube,youtuber,yrs
0,16282004,eckates,1,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,0,en,11405,819,0,...,0,0,0,0,0,0,0,0,0,0
1,16740486,genebailey,0,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1,en,520,219,36,...,0,0,0,0,0,0,0,0,0,0

In [3]:
len(df.columns)

1513

In [4]:
for col in df.keys():
    print(col)

id
screen_name
default_profile
description
created_at
geo_enabled
lang
statuses_count
followers_count
favourites_count
verified
account_type
cleaned_description
abc
about
acab
account
across
act
action
activist
actor
actress
actriz
ad
add
addict
adult
adventure
adventurer
adventures
advice
advisor
advocate
affairs
affiliate
affiliated
aficionado
after
again
against
age
agency
agent
ai
aint
air
aka
al
album
all
ally
alone
along
also
alum
alumna
alumni
always
am
amante
amateur
amazing
amazon
ambassador
america
american
americas
amo
amor
an
analysis
analyst
anchor
and
angeles
animal
animals
anime
another
any
anyone
anything
ao
aos
ap
app
apple
architect
are
area
arent
army
around
arsenal
art
articles
artist
artists
arts
as
ask
aspiring
ass
assistant
associate
association
at
athlete
attorney
author
available
average
avid
award
awardwinning
away
awesome
ba
baby
back
bad
band
baseball
based
basketball
bay
bbc
be
beach
beat
beautiful
beauty
because
become
been
beer
before
behind
being
believe
believer
below
best
bestselling
better
between
beyond
bi
biden
bidenharris
bieber
big
bio
bit
bitch
bitcoin
biz
black
blacklivesmatter
blessed
blm
block
blockchain
blocked
blog
blogger
blogging
blogs
blue
bluewave
board
body
book
booking
bookings
books
born
boss
boston
bot
botally
both
boy
boys
brand
brands
breaking
bring
bringing
brooklyn
brother
bs
build
builder
building
built
business
businesses
but
buy
by
ca
california
call
called
campaign
can
canada
canal
cancer
candidate
candy
cant
cantante
captain
car
care
career
cars
cat
catch
cats
cbs
celebrity
center
central
ceo
certified
chair
champ
champion
change
channel
che
check
chef
chicago
chief
child
children
china
chocolate
choice
choreographer
christ
christian
church
ci
cinema
cities
citizen
city
civil
class
classic
click
climate
club
cnn
co
coach
coast
code
coffee
cofounder
cohost
collection
collector
college
color
columnist
com
come
comedian
comedy
comes
comic
comics
coming
commentator
committed
comms
communication
communications
community
como
company
composer
computer
con
concert
conductora
connect
connoisseur
conservative
consultant
contact
contacto
contato
content
contrataciones
contributor
cook
cool
corporate
correspondent
cosplay
cosplayer
costume
could
country
county
cover
covering
craft
crazy
create
created
creating
creative
creator
cricket
cricketer
crime
critic
crypto
cubs
cuenta
culture
cup
curator
curious
current
currently
cute
da
dad
daddy
daily
damn
dan
dance
dancer
dancing
dark
data
daughter
day
days
dc
dd
de
dead
dear
death
dedicated
deep
del
democracy
democrat
desde
design
designer
detroit
deus
dev
developer
development
di
did
didnt
die
different
digital
dios
direction
director
disney
district
dj
dm
dms
do
doctor
does
doesnt
dog
dogs
doing
done
dont
dos
down
download
dr
dream
dreamer
dreams
drink
drinker
driver
du
dude
each
earth
east
easy
eat
economics
ed
editor
editorial
education
educator
el
else
em
email
emmy
en
end
endorsement
endorsements
energy
engineer
engineering
england
english
enjoy
enjoying
enough
enquiries
entertainment
enthusiast
entrepreneur
environment
ep
equal
equality
es
escritor
espn
est
estate
et
etc
eu
even
event
events
ever
every
everybody
everyday
everyone
everything
everywhere
ex
exec
executive
experience
expert
expressed
eyes
face
facebook
facts
faith
fake
fall
family
famous
fan
fanatic
fangirl
fans
fantasy
far
fashion
fast
father
favorite
fb
fbr
fc
fear
features
feed
feel
fellow
female
feminist
few
fight
fighter
fighting
figure
film
filmmaker
films
finance
financial
find
fine
fire
firm
first
fitness
fl
florida
fly
fmr
focus
focused
follow
followback
followed
follower
following
food
foodie
football
footballer
for
forever
forget
former
formerly
foundation
founded
founder
four
fox
free
freedom
freelance
fresh
friend
friendly
friends
from
fuck
fucking
full
fun
funny
future
game
gamer
games
gaming
gay
geek
general
generation
gente
gently
get
getting
girl
girls
give
giving
global
go
goal
god
gods
going
gold
golden
golf
golfer
gonna
good
google
got
government
grace
grad
graduate
grammy
graphic
great
greatest
green
group
grow
growth
guide
guitar
guru
guy
hacked
had
hair
half
hand
happens
happily
happiness
happy
hard
harshly
has
hate
have
having
he
head
health
healthcare
healthy
heart
hehim
hehimhis
hell
hello
help
helping
helps
her
here
hey
hi
high
him
his
historian
history
hit
hockey
home
hope
horror
host
hot
hour
hours
house
how
huge
human
humble
humor
hunter
husband
ice
icon
id.1
idea
ideas
if
ig
il
ill
illustrator
im
image
images
important
in
inc
independent
india
indian
indonesia
industry
influencer
info
information
inquiries
inside
inspire
inspired
insta
instagram
instructor
interest
interested
interesting
interests
international
internet
into
investing
investment
investor
irish
is
island
isnt
issues
it
italian
its
itunes
ive
jack
james
jersey
jesus
job
john
join
journalism
journalist
journey
judge
jugador
junkie
just
justice
justin
kag
keep
kid
kids
kind
kindness
king
know
known
la
lady
lakers
language
large
largest
las
last
late
latest
laugh
law
lawyer
le
lead
leader
leadership
leading
league
learn
learner
learning
leave
left
legal
leo
les
lesbian
less
let
lets
level
lgbtq
liberal
liberty
librarian
licensed
life
lifelong
lifestyle
light
like
likes
line
link
links
list
listen
little
live
lives
living
llc
lo
local
lol
london
long
look
looking
lord
los
lost
lot
lots
love
loved
lover
loves
loving
low
ma
mad
made
madrid
maga
magazine
magic
main
mais
major
make
maker
makes
makeup
making
male
mam
mama
man
managed
management
manager
managing
many
marine
market
marketer
marketing
markets
married
marvel
mas
mask
master
masters
math
matter
matters
may
maybe
mba
me
mean
media
medical
meet
member
members
men
mental
mentor
met
metal
meteorologist
mets
meu
mi
miami
michael
michigan
middle
military
mind
mine
mis
miss
mission
mn
model
modelo
modern
mom
moment
mommy
money
moon
more
morning
most
mostly
mother
move
movement
movie
movies
ms
msica
msnbc
much
mundo
music
musical
musician
must
my
myself
na
name
names
nascar
nation
national
native
natural
nature
navy
nba
nbc
nd
necessarily
need
needs
nerd
netflix
network
never
new
news
newsletter
next
nfl
nice
night
nj
no
nobody
non
none
nonprofit
north
not
nothing
noticias
now
nsfw
number
nurse
nut
ny
nyc
nyt
nytimes
obsessed
occasional
of
off
offering
office
officer
official
oficial
often
oh
ohio
ok
old
on
once
one
ones
online
only
open
opinion
opinions
optimist
options
or
order
ordinary
organization
organizer
oriented
original
os
other
others
our
out
outdoors
outside
over
own
owner
pa
page
painter
para
park
part
partner
party
passion
passionate
past
patriot
patriots
peace
people
per
perfect
perfil
performance
performer
periodista
person
personal
personality
phd
philanthropist
philly
photo
photographer
photography
photos
pictures
place
planet
plant
play
player
playing
plays
please
plus
pm
podcast
podcaster
podcasts
poet
point
pole
police
policy
political
politico
politics
pop
por
positive
possible
post
posts
power
powered
pr
presenter
president
press
pretty
previously
principal
private
pro
probably
producer
product
production
products
prof
profesional
professional
professor
profile
program
programming
progress
progressive
project
pronouns
protect
proud
proudly
providing
psychology
public
published
publisher
put
quality
que
queen
queer
questions
quotes
race
racing
radio
raised
random
rapper
rd
read
reader
reading
ready
real
reality
really
realtor
record
recording
red
related
relations
rep
reporter
represent
rescue
research
researcher
resident
resist
resistance
resmi
resources
rest
retired
retweet
retweets
reviews
ride
right
rights
rip
risk
road
rock
roll
romance
room
rt
rts
rule
run
runner
running
said
sales
same
san
sarcasm
save
say
sc
scholar
school
science
scientist
scifi
se
season
second
security
see
seeker
seen
self
selling
sempre
send
senior
sense
seo
ser
series
service
services
serving
set
sex
share
sharing
she
sheher
sheherhers
shit
shop
short
should
show
shows
si
side
siempre
sign
simple
sin
since
sing
singer
singersongwriter
single
sister
site
sky
sleep
slowly
small
smart
smile
snap
snapchat
so
sobre
soccer
social
socialmedia
software
solo
solutions
some
someone
something
sometimes
son
song
songs
songwriter
sono
soon
sou
soul
sound
source
south
southern
soy
space
speak
speaker
special
specialist
specializing
spirit
sport
sports
spotify
spread
st
staff
stan
stand
star
stars
start
started
state
states
stay
still
stock
stocks
stop
store
stories
story
storyteller
straight
strategist
strategy
stream
streamer
streaming
street
strong
student
students
studies
studio
stuff
style
stylist
su
subscribe
success
sun
super
support
supporter
supporting
sure
survivor
sweet
system
systems
take
taken
taking
talent
talk
talking
taylor
te
tea
teach
teacher
teaching
team
teamfollowback
tech
technology
television
tell
tengo
tennis
texas
text
th
than
thank
thanks
that
thats
the
theatre
their
them
then
there
theres
theresistance
these
they
theythem
thing
things
think
thinker
thinking
this
those
thoughts
three
through
ti
time
times
tiny
tips
tired
to
today
todo
todos
together
tomorrow
too
top
tour
town
track
trade
trader
trading
trainer
training
travel
traveler
traveling
true
trump
trust
truth
try
trying
tu
turn
turned
tv
tweet
tweeting
tweets
twice
twin
twitch
twitter
two
uk
um
uma
un
una
under
unicorn
union
unique
united
universe
university
until
up
updates
ur
urban
us
usa
use
used
using
va
van
ve
vegan
vegas
very
vet
veteran
via
vice
vida
video
videos
views
visit
visual
vita
vivo
voc
voice
volunteer
vote
voteblue
vp
waiting
walking
wall
wanna
wannabe
want
war
warrior
wars
was
washington
washingtonpost
watch
watching
water
way
we
wear
weather
web
website
weekly
weird
welcome
well
wellness
were
west
what
whatever
whats
when
where
which
while
white
who
whole
whos
why
wife
wild
will
win
wine
winner
winning
wish
with
without
woman
women
womens
wonderful
wont
word
words
work
worker
working
works
world
worlds
worldwide
would
wrestling
write
writer
writing
wrong
wwe
wwgwga
xbox
ya
yankees
yazar
yeah
year
years
yes
yet
yo
yoga
york
you
youll
young
your
youre
yourself
youth
youtube
youtuber
yrs

In [5]:
df2=pd.read_csv('/Users/michealmccloskey/Desktop/Project_4/Data/clean_data.csv')
df2[:2]

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,statuses_count,followers_count,favourites_count,verified,account_type
0,16282004,eckates,1,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,0,en,11405,819,0,0,1
1,16740486,genebailey,0,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1,en,520,219,36,0,1

In [6]:
df2.columns

Index(['id', 'screen_name', 'default_profile', 'description', 'created_at',
       'geo_enabled', 'lang', 'statuses_count', 'followers_count',
       'favourites_count', 'verified', 'account_type'],
      dtype='object')

In [7]:
df3 = df2.description.str.extract('([A-Za-z]+)')

In [8]:
words = {}
for x in df3.values:
    word = x[0]
    
    if word not in words.keys():
        words[word] = 0
        
    words[word] += 1

In [9]:
pd.DataFrame(words,['Count']).transpose().sort_values('Count',ascending=False)

            Count
I            1636
NaN          1055
The           520
A             375
Do            237
...           ...
riding          1
RI              1
footballer      1
Cristiana       1
KINGDOM         1

[9425 rows x 1 columns]

In [10]:
df2.columns

Index(['id', 'screen_name', 'default_profile', 'description', 'created_at',
       'geo_enabled', 'lang', 'statuses_count', 'followers_count',
       'favourites_count', 'verified', 'account_type'],
      dtype='object')

In [11]:
# Calculate the total number of rows
total_rows = len(df2)

# Calculate the number of bot accounts with default profiles
num_bot_default = len(df2[(df2['account_type'] == 1) & (df2['default_profile'] == 1)])

# Calculate the number of human accounts with default profiles
num_human_default = len(df[(df['account_type'] == 0) & (df['default_profile'] == 1)])

# Calculate the percentage of bots and humans with default profiles
bot_default_percentage = (num_bot_default / total_rows) * 100
human_default_percentage = (num_human_default / total_rows) * 100

print(f"Percentage of bot accounts with default profiles: {bot_default_percentage:.2f}%")
print(f"Percentage of human accounts with default profiles: {human_default_percentage:.2f}%")

Percentage of bot accounts with default profiles: 15.43%
Percentage of human accounts with default profiles: 21.24%

In [12]:
total_rows

29944

In [13]:
num_distinct_ids = df2['id'].nunique()

print(f"Number of distinct IDs: {num_distinct_ids}")

Number of distinct IDs: 29944

In [14]:
total_bots = len(df[df['account_type'] == 1])

# Calculate the total number of human accounts
total_humans = len(df[df['account_type'] == 0])

# Calculate the number of verified bot accounts
verified_bots = len(df[(df['account_type'] == 1) & (df['verified'] == True)])

# Calculate the number of verified human accounts
verified_humans = len(df[(df['account_type'] == 0) & (df['verified'] == True)])

# Calculate the percentage of verified bot accounts
percent_verified_bots = (verified_bots / total_bots) * 100

# Calculate the percentage of verified human accounts
percent_verified_humans = (verified_humans / total_humans) * 100

print(f"Percentage of verified bot accounts: {percent_verified_bots:.2f}%")
print(f"Percentage of verified human accounts: {percent_verified_humans:.2f}%")

Percentage of verified bot accounts: 3.67%
Percentage of verified human accounts: 31.43%

In [15]:
df2.dtypes

id                   int64
screen_name         object
default_profile      int64
description         object
created_at          object
geo_enabled          int64
lang                object
statuses_count       int64
followers_count      int64
favourites_count     int64
verified             int64
account_type         int64
dtype: object

In [16]:
# Convert 'Created At' column to datetime
df2['created_at'] = pd.to_datetime(df2['created_at'])

# Add a column for the year
df2['Year'] = df2['created_at'].dt.year
# Filter the DataFrame for the year 2008
df_2008 = df2[df2['Year'] == 2008]

# Calculate the total number of bot accounts in 2008
total_bots_2008 = len(df_2008[df_2008['account_type'] == 1])

# Calculate the total number of human accounts in 2008
total_humans_2008 = len(df_2008[df_2008['account_type'] == 0])

# Calculate the number of verified bot accounts in 2008
verified_bots_2008 = len(df_2008[(df_2008['account_type'] == 1) & (df_2008['verified'] == True)])
                                                                           

# Calculate the number of verified human accounts in 2008
verified_humans_2008 = len(df_2008[(df_2008['account_type'] == 0) & (df_2008['verified'] == True)])

# Calculate the percentage of verified bot accounts in 2008
percent_verified_bots_2008 = (verified_bots_2008 / total_bots_2008) * 100

# Calculate the percentage of verified human accounts in 2008
percent_verified_humans_2008 = (verified_humans_2008 / total_humans_2008) * 100

print(f"Percentage of verified bot accounts in 2008: {percent_verified_bots_2008:.2f}%")
print(f"Percentage of verified human accounts in 2008: {percent_verified_humans_2008:.2f}%")

Percentage of verified bot accounts in 2008: 32.64%
Percentage of verified human accounts in 2008: 53.50%

In [17]:
# Filter the DataFrame for the year 2018
df_2018 = df2[df2['Year'] == 2018]
# Calculate the total number of bot accounts in 2008
total_bots_2018 = len(df_2018[df_2018['account_type'] == 1])

# Calculate the total number of human accounts in 2008
total_humans_2018 = len(df_2018[df_2018['account_type'] == 0])

# Calculate the number of verified bot accounts in 2008
verified_bots_2018 = len(df_2018[(df_2018['account_type'] == 1) & (df_2018['verified'] == True)])
                                                                           

# Calculate the number of verified human accounts in 2008
verified_humans_2018 = len(df_2018[(df_2018['account_type'] == 0) & (df_2018['verified'] == True)])

# Calculate the percentage of verified bot accounts in 2008
percent_verified_bots_2018 = (verified_bots_2018 / total_bots_2018) * 100

# Calculate the percentage of verified human accounts in 2008
percent_verified_humans_2018 = (verified_humans_2018 / total_humans_2018) * 100

print(f"Percentage of verified bot accounts in 2018: {percent_verified_bots_2018:.2f}%")
print(f"Percentage of verified human accounts in 2018: {percent_verified_humans_2018:.2f}%")

Percentage of verified bot accounts in 2018: 0.92%
Percentage of verified human accounts in 2018: 1.91%

In [18]:
# Filter the DataFrame for the year 2006
df_2006 = df2[df2['Year'] == 2006]

# Calculate the total number of bot accounts in 2006
total_bots_2006 = len(df_2006[df_2006['account_type'] == 1])

# Calculate the total number of human accounts in 2006
total_humans_2006 = len(df_2006[df_2006['account_type'] == 0])

# Calculate the number of verified bot accounts in 2006
verified_bots_2006 = len(df_2006[(df_2006['account_type'] == 1) & (df_2006['verified'] == True)])
                                                                           

# Calculate the number of verified human accounts in 2006
verified_humans_2006 = len(df_2006[(df_2006['account_type'] == 0) & (df_2006['verified'] == True)])

# Calculate the percentage of verified bot accounts in 2006
percent_verified_bots_2006 = (verified_bots_2006 / total_bots_2006) * 100

# Calculate the percentage of verified human accounts in 2006
percent_verified_humans_2006 = (verified_humans_2006 / total_humans_2006) * 100

print(f"Percentage of verified bot accounts in 2006: {percent_verified_bots_2006:.2f}%")
print(f"Percentage of verified human accounts in 2006: {percent_verified_humans_2006:.2f}%")

Percentage of verified bot accounts in 2006: 100.00%
Percentage of verified human accounts in 2006: 66.67%

In [19]:


# Filter the DataFrame for the year 2017
df_2017 = df2[df2['Year'] == 2017]

# Calculate the total number of human accounts in 2017
total_humans_2017 = len(df_2017[df_2017['account_type'] == 0])

# Calculate the number of human accounts with default profiles in 2017
humans_with_default_2017 = len(df_2017[(df_2017['account_type'] == 0) & (df_2017['default_profile'] == True)])

# Calculate the percentage of human accounts with default profiles in 2017
percent_humans_with_default_2017 = (humans_with_default_2017 / total_humans_2017) * 100

print(f"Percentage of human accounts with default profiles in 2017: {percent_humans_with_default_2017:.2f}%")

Percentage of human accounts with default profiles in 2017: 75.81%

In [20]:
# Filter the DataFrame for the year 2006
df_2009 = df2[df2['Year'] == 2009]

# Calculate the total number of bot accounts in 2009
total_bots_2009 = len(df_2009[df_2009['account_type'] == 1])

# Calculate the total number of human accounts in 2009
total_humans_2009 = len(df_2009[df_2009['account_type'] == 0])

# Calculate the number of verified bot accounts in 2009
verified_bots_2009 = len(df_2009[(df_2009['account_type'] == 1) & (df_2009['verified'] == True)])
                                                                           

# Calculate the number of verified human accounts in 2009
verified_humans_2009 = len(df_2009[(df_2009['account_type'] == 0) & (df_2009['verified'] == True)])

# Calculate the percentage of verified bot accounts in 2009
percent_verified_bots_2009 = (verified_bots_2009 / total_bots_2009) * 100

# Calculate the percentage of verified human accounts in 2009
percent_verified_humans_2009 = (verified_humans_2009 / total_humans_2009) * 100

print(f"Percentage of verified bot accounts in 2009: {percent_verified_bots_2009:.2f}%")
print(f"Percentage of verified human accounts in 2009: {percent_verified_humans_2009:.2f}%")

Percentage of verified bot accounts in 2009: 15.44%
Percentage of verified human accounts in 2009: 47.73%

In [27]:
# Extract hour from the 'created_at' datetime column
df2["Tweet Hour"] = pd.to_datetime(df2['created_at']).dt.hour

# Group data by hour and count occurrences
tweet_count_by_hour = df2.groupby('Tweet Hour').size()

# Print result (you can further process or visualize this data)
print(tweet_count_by_hour)

# tweet_count_by_hour.to_csv("tweet_counts_by_hour.csv")

Tweet Hour
0     1397
1     1345
2     1455
3     1295
4     1215
5      943
6      887
7      795
8      711
9      708
10     733
11     732
12    1023
13    1097
14    1332
15    1409
16    1576
17    1640
18    1588
19    1700
20    1681
21    1653
22    1597
23    1432
dtype: int64

In [26]:
df2.head()

,id,screen_name,default_profile,description,created_at,geo_enabled,lang,statuses_count,followers_count,favourites_count,verified,account_type,Year,Tweet Hour
0,16282004,eckates,1,My name is Enrique! ! I'm a highly experienced...,2008-09-14 13:20:09,0,en,11405,819,0,0,1,2008,13
1,16740486,genebailey,0,"Author, Speaker, Father, Friend, Motivator, Re...",2008-10-14 18:11:24,1,en,520,219,36,0,1,2008,18
2,17132768,patrickghoward,0,Patrick G Howard is an experienced project & p...,2008-11-03 16:51:00,0,en,4671,38877,6,0,1,2008,16
3,18013384,DoggieCakes,0,Dog Bakery and Boutique - Retail (Events and O...,2008-12-10 06:44:57,1,en,8512,2069,70,0,1,2008,6
4,21331733,DavidVarrone,0,Home Based Business and Personal Development C...,2009-02-19 20:46:02,0,en,245,6656,1,0,1,2009,20

In [28]:
# df2.to_csv("df2.csv")

In [34]:
tweet_counts_by_hour_type = (
    df.groupby([df2['created_at'].dt.hour, 'account_type'])
    .size()
    .to_frame(name='Tweet Count')
    .unstack(fill_value=0)
)
tweet_counts_by_hour_type.head(24)

             Tweet Count
account_type           0    1
created_at
0                   1046  351
1                    995  350
2                   1112  343
3                    989  306
4                    890  325
5                    651  292
6                    559  328
7                    521  274
8                    447  264
9                    404  304
10                   444  289
11                   481  251
12                   603  420
13                   714  383
14                   937  395
15                  1032  377
16                  1175  401
17                  1252  388
18                  1211  377
19                  1286  414
20                  1263  418
21                  1269  384
22                  1188  409
23                  1080  352

In [30]:
df2.dtypes

id                           int64
screen_name                 object
default_profile              int64
description                 object
created_at          datetime64[ns]
geo_enabled                  int64
lang                        object
statuses_count               int64
followers_count              int64
favourites_count             int64
verified                     int64
account_type                 int64
Year                         int32
Tweet Hour                   int32
dtype: object